@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --ff-lato: "Lato", sans-serif;
  --fs-small: 1rem;
  --fs-regular: 1.1rem;
  --fs-medium: 1.2rem;
  --fs-large: 1.3rem;
  --clr-light: #f7f7f7;
  --clr-lightgray: #eeeeee;
  --clr-accent: #db4c3f;
  --clr-accent-dark: #4b1a15;
  --clr-contrast: #3ba395;
  --clr-low: #008000;
  --clr-medium: #ffa500;
  --clr-high: #ff0000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-lato);
  position: relative;
}

.main-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 200px auto;
  grid-template-rows: 70px auto 30px;
  grid-template-areas:
    "title title"
    "nav main"
    "footer footer";
}

.title {
  grid-area: title;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  padding: 1em 2em;
  display: flex;
  align-items: center;
  font-weight: 900;
  letter-spacing: 5px;
  display: flex;
  justify-content: space-between;
}

.title > button {
  color: var(--clr-light);
  font-size: var(--fs-large);
  transform: scale(0);
  transition: transform 150ms ease-in-out;
}

.navigation {
  grid-area: nav;
  background-color: var(--clr-lightgray);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--fs-regular);
  font-weight: 300;
}

.navigation > button {
  background-color: var(--clr-accent);
  border: none;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  color: var(--clr-light);
  font-size: 2.5rem;
  padding: 0;
  align-self: center;
  cursor: pointer;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  opacity: 1;
  transform: translateY(0%);
  transition: all 150ms ease-in-out;
}

.navigation > button:hover {
  opacity: 0.95;
  transform: translateY(-10%);
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.nav-links > p {
  font-size: var(--fs-regular);
  font-weight: 700;
  color: var(--clr-accent-dark);
}

.nav-links > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-left: 0.5em;
}

.nav-links > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.nav-links > ul > li:hover {
  font-weight: 700;
  color: var(--clr-accent-dark);
}

.tasks-count {
  background-color: var(--clr-accent);
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  color: var(--clr-light);
  font-weight: 700;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks-container {
  grid-area: main;
  background-color: var(--clr-light);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  font-size: var(--fs-small);
  font-weight: 300;
}

.task {
  background-color: var(--clr-lightgray);
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: auto 215px;
  justify-content: space-between;
  align-items: center;
  transform: scale(1);
  transition: transform 150ms ease-in-out;
}

.task:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.01);
}

.low-priority {
  border-left: 4px solid var(--clr-low);
}

.medium-priority {
  border-left: 4px solid var(--clr-medium);
}

.high-priority {
  border-left: 4px solid var(--clr-high);
}

.name {
  position: relative;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.name label {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.custom-checkbox {
  --size: 1em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid var(--clr-contrast);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  transform: scale(1.2);
  color: var(--clr-contrast);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: var(--clr-contrast);
  border-color: var(--clr-contrast);
  box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.name label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  left: 1.5em;
  top: 50%;
  height: 3px;
  background: var(--clr-contrast);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
}

.settings {
  display: grid;
  grid-template-columns: 80px 80px 20px 20px;
  gap: 5px;
  align-items: center;
  justify-items: center;
}

.btn {
  font-size: calc(var(--fs-small) * 0.75);
  padding: 0.2em 0.7em;
  background-color: transparent;
  border: 1px solid var(--clr-contrast);
  color: var(--clr-contrast);
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-contrast);
  color: var(--clr-light);
}

.date {
  font-size: calc(var(--fs-small) * 0.8);
  font-weight: 700;
  color: var(--clr-accent-dark);
}

.icon {
  color: var(--clr-accent-dark);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon:hover {
  color: var(--clr-contrast);
}

.footer {
  grid-area: footer;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.modal {
  position: fixed;
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: var(--clr-lightgray);
  padding: 2em;
  border: 1px solid var(--clr-accent-dark);
  z-index: 10;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(100, 100, 100, 0.7);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  pointer-events: none;
}

.overlay.active {
  pointer-events: all;
  opacity: 1;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-large);
  margin-bottom: 1em;
  color: var(--clr-accent-dark);
}

.details-grid {
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: 1fr;
}

.details-category {
  font-weight: 700;
  color: var(--clr-accent-dark);
  margin-bottom: 0.3em;
}

.details-info {
  font-weight: 400;
  color: var(--clr-accent-dark);
}

.edit > form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-medium);
}

.edit-header > input {
  background-color: var(--clr-lightgray);
  color: var(--clr-accent-dark);
  border: none;
  width: 100%;
  padding: 0.3em;
}

.edit textarea {
  resize: none;
  padding: 0.3em;
  background-color: var(--clr-lightgray);
  border: none;
  font-weight: 400;
}

.edit-date,
.edit-radio {
  display: grid;
  align-items: center;
  grid-template-columns: 90px auto;
}

input[type="date"] {
  border: 1px solid var(--clr-contrast);
  color: var(--clr-contrast);
  border-radius: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.5) sepia(100%) hue-rotate(120deg);
}

.btn-radio button {
  padding: 0.3em 1em;
  margin-right: 1em;
}

.edit > form > button {
  padding: 0.5em;
  align-self: center;
  width: 200px;
}

.btn-low {
  border-color: var(--clr-low);
  color: var(--clr-low);
}

.btn-low:hover,
.btn-low.active {
  background-color: var(--clr-low);
  color: var(--clr-light);
}

.btn-medium {
  border-color: var(--clr-medium);
  color: var(--clr-medium);
}

.btn-medium:hover,
.btn-medium.active {
  background-color: var(--clr-medium);
  color: var(--clr-light);
}

.btn-high {
  border-color: var(--clr-high);
  color: var(--clr-high);
}

.btn-high:hover,
.btn-high.active {
  background-color: var(--clr-high);
  color: var(--clr-light);
}

.modal.add {
  padding: 0;
  min-height: 439.83px;
}

.add-grid {
  display: grid;
  grid-template-columns: 110px auto;
}

.add-title {
  grid-column: 1 / -1;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.add-title > button {
  color: var(--clr-light);
  font-size: var(--fs-large);
}

.add > .nav-links {
  background-color: var(--clr-lightgray);
}

.add .nav-links {
  padding: 1em 0.4em;
  font-weight: 300;
  font-size: var(--fs-regular);
}

.add-main > form {
  background-color: var(--clr-light);
  padding: 1em;
}

.add-main > form input {
  background-color: var(--clr-light);
}

.add-main > form > textarea {
  background-color: var(--clr-light);
}

.add-project {
  margin-top: 288px;
}

.filter-name.active {
  font-weight: 700;
  font-size: var(--fs-regular);
  letter-spacing: 1px;
  color: var(--clr-accent-dark);
}

@media screen and (max-width: 610px) {
  .title > button {
    transform: scale(1);
  }

  .navigation {
    position: fixed;
    height: 100vh;
    width: 250px;
    z-index: 100;
    top: 0;
    right: 0;
    transform: scaleX(0);
  }

  .navigation.active {
    transform: scaleX(1);
  }

  .main-grid {
    grid-template-columns: auto;
    grid-template-areas:
      "title title"
      "main main"
      "footer footer";
  }
}

@media screen and (max-width: 762px) {
  .modal {
    width: 95vw;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 100vw;
    background: linear-gradient(
      90deg,
      rgb(0, 36, 21) 0%,
      var(--clr-contrast) 50%,
      rgb(0, 36, 21) 100%
    );
  }

  .main-grid {
    max-width: 1200px;
    margin: auto;
  }
}
